In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('BW_4channel.psdata.csv')
df.columns = ['time','pos1','pos2','pos3','pos4']
# position1 is carotid left, position2 is carotid right, position3 is chest left, position 4
# is chest right, it is the voltage (v)

In [25]:
df.head()

         time      pos1      pos2     pos3      pos4
0 -100.000197  0.018885 -0.018885 -0.15096 -0.113435
1  -99.999997  0.018885 -0.018885 -0.15096 -0.094550
2  -99.999797  0.018885 -0.018885 -0.15096 -0.113435
3  -99.999597  0.000000 -0.018885 -0.15096 -0.113435
4  -99.999397  0.018885 -0.018885 -0.15096 -0.113435

In [26]:
print(df.describe())

               time          pos1          pos2          pos3          pos4
count  1.000003e+06  1.000003e+06  1.000003e+06  1.000003e+06  1.000003e+06
mean   7.452617e-07 -7.104913e-03 -4.879922e-03  1.795047e-02  2.184755e-03
std    5.773523e+01  5.434525e-02  6.295171e-02  6.892759e-02  9.031117e-02
min   -1.000002e+02 -3.217889e-01 -4.347933e-01 -2.830340e-01 -5.861835e-01
25%   -5.000010e+01 -3.783219e-02 -5.665600e-02 -1.882382e-02 -5.671752e-02
50%    7.500000e-07  0.000000e+00  0.000000e+00  1.882382e-02  0.000000e+00
75%    5.000010e+01  3.783219e-02  3.777067e-02  5.659449e-02  5.671752e-02
max    1.000002e+02  3.029035e-01  2.646407e-01  3.208046e-01  4.916339e-01

In [27]:
print(df.corr())

          time      pos1      pos2      pos3      pos4
time  1.000000  0.000118 -0.000318  0.001041  0.002678
pos1  0.000118  1.000000  0.688427 -0.338830  0.114823
pos2 -0.000318  0.688427  1.000000 -0.391408  0.113557
pos3  0.001041 -0.338830 -0.391408  1.000000  0.413360
pos4  0.002678  0.114823  0.113557  0.413360  1.000000